Source: ros-kinetic-teraranger-description
Section: misc
Priority: extra
Maintainer: Baptiste Potier <baptiste.potier@terabee.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/teraranger_description
Standards-Version: 3.9.2

Package: ros-kinetic-teraranger-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The teraranger_description package
